.casualwear{
    padding-top: 100px;
    display: flex;
    height: 80vh;
    background:  linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.casualwear-left{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    justify-content: center;
    padding-bottom: 60px;
}
.casualwear-left h1{
    color: black;
    font-size: 70px;
    font-weight: bolder; 
}
.casualwear-left p{
    text-align: justify;
    color: rgb(97, 97, 97);
    justify-content: center;
    font-weight:bold;
}
.casualwear-left p span{
    color: black;
}
.casualwear-right{
    display: flex;
    padding-left: 120px;
    align-items: flex-end;
    justify-content: center;
}
.shop-now{
    font-size: 17px;
    font-weight: bold;
    width: 200px;
    border-radius: 75px;
    height: 50px;
    background-color:rgb(167, 6, 6);
    border: none ;
    color:white;
    cursor: pointer;
}
.shop-now:active{
    background: #f3f3f3;
}
/* .casualwear-right :hover{
    transform: scale(1.05);
    transition:0.6s;
} */
.new-collections{
    align-items: center;
    gap:10px;
    margin-top: 100px;
    height: 90vh;
    
}
.new-collections h1{
    text-align: center;
    color:black;
    font-size: 50px;
    font-weight: 600;
}  
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    
}
